body,html{
    height:100%;
    width: 100%;
    /* padding: 0.5%; */
    background-image: url("room.jpg");
 
}
.container{
    height:100%;
    width:99%;
    text-align: center;
    background-color:rgba(77,28,00,0.5);
    border-radius: 5px;
}

h1{
    color:white;
}
h6{
    color:white
}
p{
    text-align:center;
}
/* #responsive{
    width: 100%;
    height: auto;
} */


/* -----------------------------------------------Header------------------------------------------------------------------------------- */
.header{
    float: left;
    background-color:black;
    height:10%;
    width:100%;
  }
.left_header{
    float:left;
    width:90%;
    text-align: left;
}
.right_header{
    float:left;
    width:10%
}

.timer_clock{
    height:10;
    width:80%;     
}

/* -----------------------Right Side bar ------------------------------------------------------------------------------------------------------------------------------- */
.right-bar{
    float:left;
    background-color:blue;
    height:70%;
    width:10%;
    opacity:0.9;
    color: white;
}
.search{
    height:20%;
    /* background-color: yellow; */
    text-align: center;
    padding-top: 30%;
}
.notepad{
    height:30%;
    /* background-color: grey; */
    text-align: center;
    padding-top: 10%;
}
.map_div{
    height:30%;
    /* background-color: greenyellow; */
    text-align: center;
    padding-top: 25%;
}
.help_div{
    height:30%;
    /* background-color: greenyellow; */
    text-align: center;
    /* padding-top: 25%; */
}
.write_note{
    max-width: 100%;
    height: auto;  
}

.help_image{
    width: 50%;
}

/* ----------------------------------------Content----------------------------------------------------------------------------------------------- */
.content-div{
    float:left;
    /* height:70%;*/
    width:90%; 
    padding: 30px 30px 30px 30px;
    opacity:0.9;
    color:white;
    text-align: center;
  }
#help-display{
    position:fixed;
    text-align:center;
    left:30%;
    top:10%;
    width:50%;
    height:50%;
    background-color: black;
    opacity:0.8;
    /* background-image: url("room.jpg"); */
    color: white;
    font-size: 10px;
    /* padding: 2%; */
}
#notepad-content{
    display:none;
    text-align:center;
    position:fixed;
    left:30%;
    top:10%;
    width:50%;
    height:50%;
    /* background-image: url("room.jpg"); */
    background-color: black;
    opacity:0.8;
    border-radius: 1%;
    color: white;
    font-size: 10px;
    padding: 2%;
}
.wrong_answer_alert{
    text-align:center;
}
/* ----------------------------------------Content- finish---------------------------------------------------------------------------------------------- */
/* ----------------------------------------Footer----------------------------------------------------------------------------------------------- */
.footer{
    float: left;
    text-align: left;
    background-color:green;
    height:20%;
    width:100%;
    /* background-image: url("room.jpg"); */
    color:white;
  }
.help-man{
    float:left;
    /* height:100%; */
    width: 20%;
    /* background: #ff0000 */
}
.avatar{
    width:50%;
    /* text-align:left; */
}
.guide{
    float:right;
    height: 100%;
    width: 80%;
    text-align:left;
    /* background: yellow; */
}

